<!DOCTYPE html>
<html>

<head>
      <meta charset="UTF-8">
      <title>FCC Image Search API</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>

<body>
      <div class="container">
            <h3>FreeCodeCamp: Image Abstraction Microservice</h3>
            <hr>
            <h4>Getting image search results:</h4>

            <pre><code>
              Example
            </code></pre>

            <h4>Getting the last 10 image search results:</h4>
            <pre><code>
              Example
            </code></pre>
            <hr>
      </div>
</body>

</html>
